/* Initial Settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(34, 40, 49);
    font-family: 'Silkscreen', cursive;
    text-align: center;
}

/* Container */

.container {
    padding: 3% 15% 1.5%;
}

/* Title Section */

.text {
    color: #EEEEEE;
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 2.5px 2.5px 0 #4F8A8B, 5px 5px 0 #4F8A8B;
}

/* Simon Game Section */

.btn {
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 1%;
    border: 5px solid #EEEEEE;
    border-radius: 20px;
}

/* Pressed Button */

.pressed {
    opacity: 0.5;
    box-shadow: 0 0 20px #EEEEEE;
}

.game-over {
    background-color: #DC0000;
}

/* Color Button */

.btn#green {
    background-color: #4F8A8B;
}

.btn#red {
    background-color: #D61355;
}

.btn#yellow {
    background-color: #FBD46D;
}

.btn#blue {
    background-color: #0F6292;
}

/* Media Query */

@media screen and (max-width: 1025px) {
    .btn {
        width: 300px;
        height: 300px;
    }

    .text {
        font-size: 5rem;
    }
}

@media screen and (max-width: 611px) {
    .btn {
        width: 125px;
        height: 125px;
    }

    .text {
        font-size: 2rem;
    }
}

@media screen and (max-width: 376px) {
    .btn {
        width: 120px;
        height: 120px;
    }
}